@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

:root{
    font-family: 'Barlow', sans-serif;
}

html, body {
    margin: 0;
}

#content{
    display: flex;
    width: 100vw;
    height: 100vh;
}

#graphic-section{
    width: 40vw;
    height: 100vh;
    background-image: url(./assets/wesley-tingey-9-OCsKoyQlk-unsplash.jpg);
}

#form-section{
    width: 60vw;
    height: 100vh;
}

#form{
    display: flex;
    gap: 20px;
}

#form-column-one, #form-column-two{
    flex-direction: column;
}
.form-element{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#description-zone, #button-zone{
    display: flex;
    height: 40vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:beige;
}

#form-zone{
    display:flex;
    flex-direction: row;
    height: 20vh;
    align-items: center;
    justify-content: center;
    
}

#button-zone button{
    position: relative;
    bottom: 100px;
    
}

#text-background{
    position: relative;
    top: 20vh;
    background-color:black;
    opacity: 40%;
    height:20vh;
    width:40vw
}

#hero{
    position: relative;
    color: White;
    text-align: center;
    font-size: 48px;
    
}